.recommended {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    margin-bottom: 4px;
    transition: background-color ease-out 0.2s;
}

.side-video-list:hover {
    background-color: #d6d6d6;
}

.side-video-list img {
    flex-basis: 49%;
    width: 50%;
}

.vid-info {
    flex-basis: 49%;
}

.vid-info h4 {
    font-size: 13px;
    margin-bottom: 5px;
}

@media (max-width:900px) {
    .recommended {
        flex-basis: 100%;
    }
}